*{
    margin: 0;
    padding: 0;
}
.menu{
    color: white;
    list-style-type: none;
    font-size: 18px;
}
.menu li{
    padding: 20px;
}
.menu li a{
    color: red;
    text-decoration: none;
}
.container{
    width: 520px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.menu{
}
.photo{
    width: 1280px;
    margin: 0 auto;
}
.text{
    width: 1145px;
    margin: 20px auto;
    font-size: 16px;
    text-align: center;
}
.title{
    width: 434px;
    margin: 0 auto;
    font-size: 22px;
}
p{
    margin: 20px;
}
button{
    width: 191px;
    margin: 57px auto;
    height: 51px;
    background: red;
    color: white;
}
.last{
    width: 1256px;
    text-align: right;
}



